

.filter{
  display: flex;
 justify-content: space-around;
 flex-direction: row;
 margin-top: 2%;
 }
 .h1{
     display: flex;
     align-content: center;
     justify-content: center;
     font-size: large;
 margin-top: 5%;
 }


.pages {
  display: flex;
  justify-content: center;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
 
}

.card {
  padding-bottom: 50px;
  width: 18em;
  margin: 30px;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.button {
  color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px 20px 0px;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px 30px 15px;
  border-radius: 4px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Fredoka One', cursive;
}

