.div{
    border-radius: 5px;
	padding: 10px;
	background-color:#c5981c;
    width: 15%;
}
.select{
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    outline: none;
    border: none;
    background: #c5981c;
}
