.input {
    height: 1.7em;
    width: 12em;
    margin-top: 4px;
    color: rgba(0, 0, 0, 0.8);
    border: 2px dotted rgba(68, 46, 124, 0.868);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
  }