.signupcontainer {
  background-repeat: no-repeat;
  background: url(../../images/dope.jpg);
  background-size: cover;
  position: absolute;
  overflow-y: scroll;
  height: 100%;
  width: 100%;
    
  }
  @media screen and (max-width: 768px) {
    .signupcontainer {
      flex-direction: column;
    }
  }
    
  .formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(245, 245, 245, 0.5);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(2px);
    padding-top: 3em;
    padding-bottom: 6em;
    padding-left: 4.5em;
    padding-right: 4.5em;
    border-radius: 1em;
    margin-right: 60em;

  }
  .input {
    outline: none;
    border: none;
   
    padding: 15px;
    border-radius: 10px;
    background-color: #edf5f3;
  }
  @media screen and (max-width: 768px) {
    .input {
      width: 300px;
    }
  }
  .error_msg {
    width: 370px;
    padding: 15px;
    margin: 5px 0;
    font-size: 14px;
    background-color: #f34646;
    color: red;
    border-radius: 5px;
    text-align: center;
  }
  @media screen and (max-width: 768px) {
    .error_msg {
      width: 300px;
    }
  }
  .btn {
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background-color: rgb(208, 189, 182);
    border-radius: 10px;
    border: none;
    padding: 0 80px;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
  }
  
  .btn:hover {
    transform: scale(1.1);
  }
  .btnes{
    position: relative;
    display: flex;
    overflow: hidden;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgb(208, 189, 182);
    border-radius: 10px;
    border: none;
    padding: 0 80px;
    transition: all 0.2s ease;
    justify-content: center;
    align-items: center;
  }
  .btnes:hover {
    transform: scale(1.1);
  }
