.list {
    display: flex;
    list-style-type: none;
  }
  .btn {
    width: 100%;
    color: rgba(0, 0, 0, 0.71);
    font-family: 'Fredoka One', cursive;
    cursor: pointer;
    text-decoration: none;
  }