.searchbar{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	outline: none;
	border: none;
	background-color: #e7eeee;
	padding: 10px;
	margin-left: 5%;
	width: 18%;
}

@media screen and (max-width: 768px) {
	.searchbar {
		display: flex;
		justify-content: space-around;
		align-items: center;
		border: 1px solid #b4b4b4;
		width: 80%;
		height: 50px;
		border-radius: 10px;
		background-color: beige;
		color: bisque;
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
	}
}
.btn {
	border: none;
	border-radius: 20px;
	background-color:#c5981c;
	color: white;
	font-family: 'Raleway';
	padding: 15px;

		
}

.btn:hover {
	background-color:#c5981c;
	color: #c5981c;
	border: 2px solid #c5981c;
	cursor: pointer;
}
.input{
	outline: none;
	border: none;
}


